.article {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 2px $shadow;
  flex-basis: 50%;
  background: $card;
  color: white;
  overflow: hidden;
  @include breakpoint(medium) {
    flex-basis: 100%;
  }
  @include breakpoint(small) {
    margin-top: 5%;
  }
  h1 {
    text-align: center;
    font-family: _font(family-title);
    font-weight: _font(weight-bold);
    font-size: 3em;
    @include breakpoint(small) {
      margin-bottom: 0.2em; 
    }
  }
  
  ol, ul {
    list-style: initial;
    margin-bottom: _size(element-margin)
  }
  ul {
    list-style-type: square;
  }
  ol {
    list-style-type: decimal;
  }
  li {
		margin: 0 0 1em 0;
  }
  a {
    color: $article-a;
  }
}

.markdown {
  padding: 5% 6%;
  @include breakpoint(medium) {
    padding: 3%;
  }
}
