@import '../../globalStyles/libs/index';
 @mixin asideAction($num) {
    width: percentage(1/$num);
    left: - percentage(1/$num);
  }
.asidebar {
  // transform: scale(1);

  // display: flex;
  position: fixed;
  height: 90%;
  overflow: auto;
  text-align: center;
  z-index: 6000;
  transition-timing-function: $animation-curve-default;
  transition-duration: .5s;
  transition-property: left, width;
  @include breakpoint(xlarge) {
    // padding: 8% 0% 8% 2%;
    flex-basis: percentage(1/4);
    
  }
  @include breakpoint(large) {
    @include asideAction(3);
  }
  @include breakpoint(medium) {
    padding: 3% 0;
    @include asideAction(2);
  }
  @include breakpoint(small) {
    padding: 8% 0;
    @include asideAction(1);
  }
  @include breakpoint(xsmall) {
    padding: 8% 0;
    @include asideAction(1);
  }

 
  // left: - percentage(1/3);
  // flex: 1;
  // flex-grow: 1;
  // width: 100px;
  // flex-direction: column;
  // align-items: stretch;
  // overflow-y: hidden;
  // display: flex;
  // justify-content: flex-start;
  // flex-wrap: wrap;
  // font-family: _font(family);
  // background: antiquewhite;
  color: white;
  input[type="text"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $nav;

    &:focus {
      border: 0;
      box-shadow: 0 0 0 0 ;
    }
  }

  section {
    padding-bottom: 50px;
  }
}

  


.open {
  left: 0px;
}

// .picture {
//   flex-basis: 100%;
//   display: flex;
//   padding-buttom: 40%; 
//   img {
//     position: relative;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
//     background-image: url('./2090151643.jpg');
//     margin: 0 auto;
//     flex-basis: 50%;
//   }
// }