@import '../../globalStyles/libs/index';

$nav-height: 40px;
$nav-h-padding: 80px;
$nav-contrast: $theme-white;
$nav-color: $nav; 

.nav {
  display: flex;
  height: $nav-height;
  align-items: center;
  padding: 0 $nav-h-padding;
  background: $nav-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: _misc(z-index-base);
};