@import '../../globalStyles/libs/index';
// $tab-label-v-padding: 5px;
// $tab-label-h-padding: 20px;
// $tab-text-height: 20px;
// $font-weight-semi-bold: 400;
// $tab-text-inactive-color: $button;
// $animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
// $animation-curve-default: $animation-curve-fast-out-slow-in !default;
// $animation-duration: .35s;


.label {
  padding: $tab-label-v-padding $tab-label-h-padding;
  font-size: $tab-text-height;
  font-weight: $font-weight-semi-bold;
  line-height: 2;
  color: $tab-text-inactive-color;
  text-transform: uppercase;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: box-shadow, color;
  cursor: pointer;
  font-family: _font(family-title);
  font-weight: _font(weight-bold);
  @include breakpoint(xsmall) {
    font-size: $tab-text-height-small;
  }
  &.active {
    color: $theme-white;
  }
}