@import '../../globalStyles/libs/index';

.tabs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $nav;
  z-index: _misc(z-index-base);
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.navigation {
  display: flex;
  // padding-right: $nav-padding-right;
  flex-direction: row;
  form {
    display: flex;
    flex-direction: row;
  }
  button {
    background-color: $button;
    color: white;
    border: 0;
    padding: 0 23px;
    cursor: pointer;
    &:hover {
      background: $button-hover;
    }
    &:focus {
      outline-style: none;
    }
    
  }

  input[type="text"] {
    background: $card;
    color: $theme-white;
    border: 0;
    padding: 0 15px;
    text-decoration: none;
    &:focus {
      outline-style: none;
    }

    &::-webkit-input-placeholder {
      color: $placehold;
    }
  }
  button,
  input {
    @include breakpoint(small) {
      display: none;
    }
  }
}

.pointer {
  position: absolute;
  width: 0px;
  height: 3px;
  margin-top: -3px;
  background-color: $button;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: left, width;
}

.logo {
  padding: $tab-label-v-padding $tab-label-h-padding;
  font-family: 'Princess Sofia', cursive;
  font-size: $tab-text-height;
  font-weight: $font-weight-semi-bold;

  line-height: 2;
  color: $theme-white;
  cursor: pointer;
  text-shadow: 5px 5px 3px rgba(0,0,0,.26);
  @include breakpoint(xsmall) {
    font-size: $tab-text-height-small;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
}