

.stage {
  left: 0;
  // offset position
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-basis: 100%;
  min-height: 100%;
  
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: left, width;
  @include breakpoint(xlarge) {
    padding-top: 90px;
  }
  @include breakpoint(large) {
    padding-top: 80px;
  }
  @include breakpoint(medium) {
    padding-top: 70px;
  }
  @include breakpoint(small) {
    padding-top: 60px;
  }
  @include breakpoint(xsmall) {
    padding-top: 50px;
  }
}

.open {
  @include breakpoint(xlarge) {
    left: percentage(1/4);
  }
  @include breakpoint(large) {
    left: percentage(1/3);
  }
  @include breakpoint(medium) {
    left: 48%;
  }
  @include breakpoint(small) {
    left: percentage(1);
  }
}


.filter {
  opacity: 1;
}