
@include breakpoint(xsmall) {
  html, body {
    min-width: 320px;
  }
}
body {
  background-color: #3F406A;
  width: 100%;
  overflow-x: hidden; 

	&.is-loading {
    *, *:before, *:after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
    }
  }
}